* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", serif;
    font-size: 1.6rem;
}

:root {
    --primary-color: #1ebfc1;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 186px;
    border-radius: 14px;
    background: #1ebfc1;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* Header */
.header--fixed {
    background: #fff;
    position: sticky;
    z-index: 1;
    top: -37px;
}
.header__head {
    padding: 57px 0 20px;
    display: flex;
}

.header__logo {
    margin-right: auto;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 39px;
    padding-right: 177px;
}

.header__nav-item a {
    color: #2f3a3b;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.header__nav-item:hover {
    text-decoration: underline;
}

.header__nav-item:first-child a {
    font-weight: 600;
}

.header__nav-btn {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__nav-btn--sign-in {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.header__nav-btn--sign-up {
    min-width: 108px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid #1ebfc1;
    padding: 12px 24px;
    border-radius: 6px;
}

.header__nav-btn--sign-up:hover {
    opacity: 0.8;
}

/* Hero */

.hero {
    padding-top: 30px;
}

.hero__body {
    display: flex;
}

.hero__desc--top {
    color: #767e7e;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero__desc--bottom {
    display: inline-block;
    width: 372px;
    color: #9da6a5;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
}

.hero__title {
    margin-top: 16px;
    margin-bottom: 46px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero__body-img {
    width: 641px;
    height: 631px;
    object-fit: cover;
}

.hero__body-cta {
    margin-top: 52px;
    display: flex;
    gap: 50px;
}

.play-btn {
    width: 62px;
    height: 62px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.07);
}

.hero__body-cta-btn:hover,
.play-btn:hover {
    opacity: 0.8;
}

/* Features */
.features {
    margin-top: 130px;
}

.features__body-desc--top {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features__title {
    width: 577px;
    padding: 18px 0;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

.features__body-desc--bottom {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.features__list {
    width: 1024px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.features__list-item {
    display: flex;
    flex-direction: column;
}

.features__list-item-desc {
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68;
}

.features__list-item:first-child .features__list-item-desc {
    width: 168px;
}

.features__list-item:nth-child(2) .features__list-item-desc {
    width: 223px;
}

.features__list-item:nth-child(3) .features__list-item-desc {
    width: 224px;
}

.features__list-item-icon {
    width: 102px;
    height: 106px;
}

.feature__list-item-title {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    padding: 26px 0 16px;
}

/* Courses */
.courses {
    margin-top: 130px;
}

.courses__top-desc-label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 18px;
    display: flex;
}

.ourses__top-desc-title {
    padding-bottom: 19px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.courses .courses-top .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.courses__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses__top-view-all {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
}

.courses__top-view-all:hover {
    opacity: 0.8;
}

.courses__list {
    margin-top: 79px;
}

.courses__list .list {
    display: flex;
    gap: 47px;
}

.courses__list-item {
    width: 31%;
    position: relative;
}

.courses__list-item-image {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
}

.courses__list-item-info {
    padding: 18px 82px 29px 25px;
    width: 325px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: 17px;
    bottom: -132px;
}

.courses__list-item-info-title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses__list-item-info span {
    margin-top: 16px;
    color: #767e7e;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.courses__list-item-info span strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses__list-item-info .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.courses__list-item-info .detail {
    margin-top: 16px;
}

.courses__list-item-info .detail span {
    color: #9da6a5;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 6px;
}

.courses__list-item-info .detail span::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: translateY(-50%);
    margin-right: 6px;
}

.courses__list-item-info .detail .detail-class {
    margin-right: 20px;
}

/* Countdown */

.countdown {
    margin-top: 389px;
    margin-bottom: 264px;
}

.countdown__content {
    display: flex;
    justify-content: center;
}

.countdown__content-list {
    width: 862px;
    display: flex;
    justify-content: space-between;
}

.countdown__content-number {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
}

.countdown__content-desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 15px;
}
